@model Student_Demo.Models.VMViewData
@{
    ViewBag.Title = "ViewData";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<h2>ViewData</h2>

@foreach (var item in Model.Department)
{

}

@foreach (var item in Model.Footer)
{

}