
<form action="/User/Index" method="post">
    <label>Enter Username:</label>
    <input type="text" name="UserName" value="" /><br   />
    <label>Enter Password:</label>
    <input type="text" name="Password" value="" /><br />
    <input type="Submit" name="name" value="Login" />


</form>
